.LoginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  width: 434px;
  padding: 20px;
  border-radius: 22px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text_area {
  align-content: center;
  border-radius: 22px;
  margin-bottom: 35px;
  width: 100%;
  height: 64px;
}

.text_input {
  margin-top: 1.2rem;
  font-family: "Montserrat regular";
  font-size: 20px;
  border: none;
  width: 80%;
  padding-left: 10px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.btn {
  margin-top: 28px;
  width: 165px;
  height: 60px;
  border-radius: 30px;
  background: #6d6a6a;
  border: none;
  font-family: "Montserrat";
  font-size: 20px;
  color: #ffffff;
  box-shadow: 0 4px 8px 0 #525252b3, 0 6px 20px 0 #595959e6;
  cursor: pointer;
}

.link {
  color: #0075e2;
  font-family: "Montserrat light";
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
}

.signup-link {
  margin-top: 20px;
  text-align: center;
}
